html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.dock-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.dock-container::before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.dock-container .icon-container {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0 7px;
}

.dock-container .icon-container .icon {
  width: 100%;
  height: 100%;
  background-color: orange;
  border-radius: 100%;
  cursor: pointer;
}

.dock-container .icon-container .icon img {
  width: 100%;
}

.mtooltip {
  display: inline-block;
  background-color: #505050;
  color: white;
  padding: 5px 15px;
  font-size: small;
  border-radius: 5px;
  position: relative;
}

.mtooltip:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #505050;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  bottom: -10px;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */